@import '../../scss/variables.scss';


.button{
    padding: 10px;
    min-width: 200px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 200ms;
}
.button.outline{
        border : 2px solid $color-b;
        color: $color-b;      
        background-color: $color-4; 
}
.button.outline:hover{
    border : 2px solid $color-b;
    background: $color-b;
    color: $color-3;       
}
.button.fill{
        background-image: linear-gradient($color-b, $color-c);
        color: #fff;
        box-shadow: $shadow;       
}
.button.fill:hover{
    background : $color-3;
    color: $color-b;      
}
.button.empty{
        background : $color-3;
        color: $color-b;    
        border : 2px solid $color-3;
    }
    .button.empty:hover{
        background : transparent;
        color: #fff;       
        border : 2px solid $color-3;
}
.button:hover{
    box-shadow: $shadow;
}
.questionBox-title{
    padding: 5px;
    font-weight: bold;
}