@import '../../scss/global.scss';

.dashboard{
    height: 100%;
}
.screenTitle{
    color: $color-1;
    padding: 15px;
    height: 7%;
}
.dashboard-body{
    height: 93%;
    width: 100%;
    display: flex;
    &__item{
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 75%;        
    }
}
.profile{
    width: 25%;
    background: $color-4;
    margin : 10px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: $shadow;;
}
.upcomming {
    height: 35%;
    &-tests{
        display: flex;
    }
}
.results {
    height: 65%;
}
.upcomming, .results, .profile{
    margin : 10px;
    margin-bottom: 5px;
    padding: 10px;
}

.dashtitle{
    font-weight: bold;
    display: flex;
    color: $color-1;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    small{
        color: $color-b;
        cursor: pointer;
    }
}