@import '../../scss/global.scss';

.dashboard{
display: flex;
flex-direction: column;
height: 100%;

    &-title{
        height: 10%;
        align-items: center;
        display: flex;
        h3{
            display: flex;
            flex: 1;
            padding: 8px 20px;
            margin: 0px 20px;
            background: $color-4; 
            box-shadow: $shadow;
            color: $color-1;
            border-radius: 5px;
        }
    }
    &-body{
        height: 90%;
        display: flex;
        flex-direction: row;
        padding: 20px;
    }
    &-exam{
        width: 75%;
        background: $color-4;
        border-radius: 5px;
        padding: 5px;
        overflow: auto;
        border-radius: 5px;
        &__title{
            font-weight: bold;
            display: flex;
            color: $color-1;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            small{
                color: $color-b;
                cursor: pointer;
            }
        }
    }
    &-profile{
        width: 25%;
        background: $color-4;
        margin-left : 10px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }
}

.profile{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    &-avatar{
        width: 60%;
        height: 30%;
        background: $color-c;
        border: solid 1px $color-3;
        padding: 10px;
        border-radius: 5px;
        background-clip: content-box;
        box-shadow: $shadow;
        display: flex;
        justify-content: center;
        align-items: center;
        &__icon{
            width: 80px;
            height:80px;
            color: $color-4;
        }
    }
    &-title{
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        padding: 10px;
    }
    &-subtitle{
        padding: 5px;
    }
}
.signout{
    background: $color-d;
    width: 90%;
    margin : 10px;
    color: $color-4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    &-icon{
        margin-right: 10px;
    }
    &:hover{
        background: darken($color: $color-d, $amount: 10);
    }
}
.dashboard-exam::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
.dashboard-exam::-webkit-scrollbar {
    width: 5px;
  }
