
$color-a : #304f61;
$color-b : #086788;
$color-c : #2797cd;

$color-1 : #677473;
$color-2 : #8D9898;
$color-3 : #D5D8DC;
$color-4 : #FFFFFF;

$color-w : #F5B041;
$color-s : #229954;
$color-i : #3498DB;
$color-d : #E74C3C;
$color-0 : rgb(17, 17, 17);

$shadow :  rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;